<h1>E/S Producto</h1>
<div class="container">
    <h2>Entrada o Salida de producto</h2>
    <form method="post" enctype="multipart/form-data" asp-controller="RegistroTransaccions" asp-action="Create">
        <input type="text" name="Fecha" id="Fecha" class="invisible" value="@DateTime.Now" />
        <div class="form-group">
            <label for="IdProducto">Seleccionar Producto:</label>
            <select class="form-control" name="IdProducto" id="IdProducto">
                @foreach (var item in ViewBag.Productos)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="IdProveedor">Seleccionar Proveedor:</label>
            <select class="form-control" name="IdProveedor" id="IdProveedor">
                @foreach (var item2 in ViewBag.Proveedores)
                {
                    <option value="@item2.Id">@item2.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="IdTipoPago">Seleccionar Proveedor:</label>
            <select class="form-control" name="IdTipoPago" id="IdTipoPago">
                @foreach (var item3 in ViewBag.TipoPagos)
                {
                    <option value="@item3.Id">@item3.Tipo</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="Accion">Seleccionar Proveedor:</label>
            <select class="form-control" name="Accion" id="Accion">
                <option value="Entrada">Entrada</option>
                <option value="Salida">Salida</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Cantidad">Ingrese cantidad:</label>
            <input type="number" min=1 class="form-control" id="Cantidad" placeholder="Ingresar cantidad" name="Cantidad">
        </div>
        <div class="form-group">
            <label for="CostoUnitario">Ingrese costo unitario:</label>
            <input type="text" class="form-control" id="CostoUnitario" placeholder="Ingresar Costo Unitario" name="CostoUnitario">
        </div>
        <div class="form-group">
            <label for="Total">Total:</label>
            <input type="text" class="form-control" id="Total" placeholder="0" readonly name="Total">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>