@using ExamenAPEAM.Models;
@model List<RegistroTransaccion>;
@{
    ViewData["Title"] = "Privacy Policy";
}
<table class="table">
    <thead>
        <tr>
            <th>FECHA</th>
            <th>PRODUCTO</th>
            <th>PROVEEDOR</th>
            <th>TIPO DE PAGO</th>
            <th>TIPO TRANSACCION</th>
            <th>CANTIDAD</th>
            <th>COSTO UNITARIO</th>
            <th>TOTAL</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Transacciones)
        {
            <tr>
                <td>@item.Fecha</td>
                <td>@item.Producto</td>
                <td>@item.Proveedor</td>
                <td>@item.TipoPago</td>
                <td>@item.Accion</td>
                <td>@item.Cantidad</td>
                <td>@item.CostoUnitario</td>
                <td>@item.Total</td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>FECHA</th>
            <th>PRODUCTO</th>
            <th>PROVEEDOR</th>
            <th>TIPO DE PAGO</th>
            <th>TIPO TRANSACCION</th>
            <th>CANTIDAD</th>
            <th>COSTO UNITARIO</th>
            <th>TOTAL</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fecha</td>
                <td>@item.Producto.Name</td>
                <td>@item.Proveedor.Name</td>
                <td>@item.TipoPago.Tipo</td>
                <td>@item.Accion</td>
                <td>@item.Cantidad</td>
                <td>@item.CostoUnitario</td>
                <td>@item.Total</td>
            </tr>
        }
    </tbody>
</table>